#wpe_google_oauth_signin_container {

    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;

    a {
        display: inline-flex;
        align-items: center;
        height: 46px;
        padding: 0 20px;
        background: #fff;
        border: 1px solid #c3c4c7;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
        color: #3c434a;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover{
            // border-color: #2271b1;
            color: #2271b1;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        }

        svg {
            height: 60%;
            margin-right: 10px;
        }
    }
}

#loginform, #nav, #backtoblog {
    opacity: 0.3;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

#login-message {
    margin-top: -20px;
    margin-bottom: 40px;
}